<div class="modal fade " id="addSpeciality" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <%= form_with(model: speciality) do |form| %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Speciality</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="mb-3">
              <%= form.label :name, class: "form-label" %>
              <%= form.text_field :name, class: "form-control" %>
              <%= form.hidden_field :id, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= form.label :image, class: "form-label" %>
              <%= form.file_field :image, class: "form-control" %>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= form.submit  class: "btn btn-primary speciality-submit"%>
        </div>
      </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">
  $(".edit-button").click(function() {
    $(".speciality-submit").val("Edit Speciality")
    name = $(this).attr("data-name")
    id   = $(this).attr("data-id")

    $("#speciality_name").val(name)
    $("#speciality_id").val(id)
  })
</script>
