<p class = "flash-message"><%= notice %></p>

<div class="content container-fluid">
  <div class="page-header">
    <div class="row">

      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button> -->

      <div class="col-md-12 d-flex justify-content-end">
          <div class="doc-badge me-3">Specialities <span class="ms-1"><%=@specialities.count%></span></div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#addSpeciality" data-bs-whatever= <%="#{@specialities.count}"%> class="btn btn-info"><i class="feather-plus-square me-1"></i> Add Speciality</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title">Specialities</h5>
            </div>
            <div class="col-md-4">
              <div class="SortBy">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-borderless table-sm table-hover">
            <thead>
              <tr class="table-columns">
                <th scope="col">SID</th>
                <th scope="col" >Name</th>
                <th scope="col" >Created At</th>
                <th scope="col" >Updated At</th>
                <th scope="col" class="tab-end">EDIT | Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @specialities.each do |speciality| %>
                <tr class = "table-rows">
                  <th scope="row"><%= speciality.id%></th>
                  <td >
                    <div class="table-avatar">
                      <div class="spl-img">
                        <%= image_tag(speciality.image, style: 'width:100%') %>
                      </div>
                      <div class="" >
                        <%= speciality.name%>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= speciality.created_at %>
                  </td>
                  <td>
                    <%= speciality.updated_at %>
                  </td>
                  <td class="tab-end">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addSpeciality" data-name = <%="#{speciality.name}"%>
                      data-id= <%="#{speciality.id}"%> class=" table-btn btn btn-info  btn-add edit-button table-btn">Edit</a>
                    <%= link_to "Delete", speciality, method: :delete, class: "btn btn-danger table-btn" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>


<%= render "form", speciality: @speciality %>
