<div class="page-content">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8 d-flex justify-content-start">
              <a href="#" data-bs-toggle="modal" data-bs-target="#addSpeciality" data-bs-whatever= <%="#{@specialities.count}"%> class="btn btn-dark"><i class="fa-solid fa-plus"></i> Add</a>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
              <button type="button" class="btn btn-light list-view-btn">
                <i class="fa-solid fa-list" style ="color: black; height: 22px"></i>
              </button>
              <button type="button" class="btn btn-light grid-view-btn">
                <i class="fa-solid fa-border-all " style ="color: #black; height: 22px;"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="card-body list-view">
          <table class="table table-borderless table-sm table-hover">
            <thead>
              <tr class="table-columns">
                <th scope="col">SID</th>
                <th scope="col" >Name</th>
                <th scope="col" >Doctors #</th>
                <th scope="col" >Created At</th>
                <th scope="col" >Updated At</th>
                <th scope="col" class="tab-end">EDIT | Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @specialities.each do |speciality| %>
                <tr class = "table-rows">
                  <th scope="row">#<%= speciality.id%></th>
                  <td >
                    <div class="table-avatar">
                      <div class="spl-img">
                        <%= image_tag(speciality.image, style: 'width:100%') %>
                      </div>
                      <div class="" >
                        <%= speciality.name%>
                      </div>
                    </div>
                  </td>
                  <td >
                    <%= speciality.doctors.count %>
                  </td>
                  <td>
                    <%= parse_dates speciality.created_at %>
                  </td>
                  <td>
                    <%= parse_dates speciality.updated_at %>
                  </td>
                  <td class="tab-end">
                    <a class="text-black actions edit-button" href="#" data-bs-toggle="modal" data-bs-target="#addSpeciality" data-name = <%="#{speciality.name}"%> data-id= <%="#{speciality.id}"%>>
                      <i class="fa-solid fa-file-pen"></i> Edit
                    </a>
                    |
                    <a class="text-danger actions" data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="<%= speciality_path(speciality)%>">
                      <i class="fa-solid fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>

        <div class="card-body grid-view">
          <div class="row">
            <% @specialities.each do |speciality| %>

              <div class="col-md-3" style= "margin-bottom: 20px">
                <div class="card" style="width: fit-content;">
                  <div class="" style="text-align: center">
                    <%= image_tag(speciality.image, class: "card-image") %>

                  </div>
                  <hr style = "margin-top: 0px">
                  <div class="card-body">
                    <h5 class="card-title">Dr. <%= speciality.name%></h5>
                    <p class="text-muted mb-0"><i class="fa-solid fa-stethoscope"></i> <%=speciality.name%></p>
                    <p class="text-muted mb-0"><i class="fa-solid fa-hashtag"></i>  Doctors: <%=speciality.doctors.count%></p>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".grid-view").hide()
  $(".grid-view-btn").click(function() {
    $(".list-view").hide()
    $(".grid-view").show()
  })
  $(".list-view-btn").click(function() {
    $(".grid-view").hide()
    $(".list-view").show()
  })
</script>

<%= render "form", speciality: @speciality %>
