<div class="page-content">
  <div class="row sign_in_page">
    <div class= "col-md-6 patient-image">
      <img src="https://labblog.uofmhealth.org/sites/lab/files/2018-06/michigan-med-l-doc-wardrobe.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" loading="lazy", style = "height: 100%; border-radius: 1.5%">
    </div>

    <div class="col-md-6">
      <div class="">
        <div class="p-4 p-md-5 border rounded-3 bg-light">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="form-floating mb-3">
              <%= f.email_field :email, class: "form-control", id: "floatingInput" %>
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.password_field :password, class: "form-control", id: "floatingPassword" %>
              <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <%= f.check_box :remember_me, id: "remember_me" %>
                <label for="remember_me">Remember Me</label>
            </div>
            <%= f.submit "Log In", class: "w-100 btn btn-lg btn-primary" %>

            <hr class="my-4">
            <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
