<p class = "flash-message"><%= notice %></p>

<div class="content container-fluid">
  <div class="page-header">
    <div class="row">

      <div class="col-md-12 d-flex justify-content-end">
          <div class="doc-badge me-3">Doctors <span class="ms-1"><%=@doctors.count%></span></div>
          <%= link_to "Add", new_doctor_path, class: "btn btn-danger table-btn" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-8">
              <h5 class="card-title">Doctors</h5>
            </div>
            <div class="col-md-4">
              <div class="SortBy">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-borderless table-sm table-hover">
            <thead>
              <tr class="table-columns">
                <th scope="col">SID</th>
                <th scope="col" >Doctor</th>
                <th scope="col" >Speciality</th>
                <th scope="col" >Created At</th>
                <th scope="col" >Updated At</th>
                <th scope="col" >Ebable/Disable</th>
                <th scope="col" class="tab-end">EDIT | Delete</th>
              </tr>
            </thead>
            <tbody>
              <% @doctors.each do |doctor| %>
                <tr class = "table-rows">
                  <th scope="row"><%= doctor.id%></th>
                  <td >
                    <div class="table-avatar">
                      <div class="spl-img">
                        <%= image_tag(doctor.image, style: 'width:100%') %>
                      </div>
                      <div >
                        <%name = doctor.first_name + " " + doctor.last_name%>
                        <%= name %>
                      </div>
                    </div>
                  </td>
                  <td>
                    <%= doctor.speciality.name %>
                  </td>
                  <td>
                    <%= parse_dates(doctor.created_at) %>
                  </td>
                  <td>
                    <%= parse_dates(doctor.updated_at) %>
                  </td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                      <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    </div>
                  </td>
                  <td class="tab-end">
                    <%= link_to "Edit", edit_doctor_path(doctor), class: "btn btn-danger table-btn" %>
                    <%= link_to "Delete", doctor, method: :delete, class: "btn btn-danger table-btn" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>
